
<div class="container">
  
  <div class="jumbotron mt-4 notFound">
    <h1 class=" display-4 text-center ">404 Not Found
      <br>
      <img class="animated hinge delay-5s" src="/images/wrongWay.gif">
    </h1>
    <div class="text-center white-text">
    <h2>Let's get you back home</h2>
    <a href="/">← Back To Home</a>
    </div>
  </div>
</div>


