<div style="height: 100vh">
  <div class="flex-center flex-column">

    <h1 class="animated bounce mb-4">Boy or Girl?</h1>
    <a href="randomizer"><button class="btn pink btn-lg mb-3 text-white" style="width: 160px" id="girlButton">Girl</button></a> 
    <a href="randomizer"><button class="btn blue btn-lg mb-3 text-white" style="width: 160px" id="boyButton">Boy</button></a>


  </div>
</div>