<div style="height: 100vh">
  <div class="flex-center flex-column">
    <div class="div">
         <h1 style="display:inline"><span class="animated wobble" style="display:inline-block; color: #00afe4">Boy</span><h1 style="display:inline"> or </h1><h1 style="display:inline"><span class="animated tada" style="display:inline-block; color: #f171c8">Girl</span></h1> 
    </div>
    
    <a href="/randomizes/girl"><button class="button" style="width: 160px" id="girlButton">Girl</button></a> 
    <a href="/randomizes/boy"><button class="button" style="width: 160px" id="boyButton">Boy</button></a>


  </div>
</div>