<div style="height: 100vh">
  <div class="flex-center flex-column">
    <div class="div">
         <h1 style="display:inline"><span class="animated wobble" style="display:inline-block">Boy</span><h1 style="display:inline"> or </h1><h1 style="display:inline"><span class="animated tada" style="display:inline-block">Girl</span></h1> 
    </div>
    
    <a href="randomizer"><button class="button" style="width: 160px" id="girlButton">Girl</button></a> 
    <a href="randomizer"><button class="button" style="width: 160px" id="boyButton">Boy</button></a>


  </div>
</div>