<div style="height: 100vh">
  <div class="flex-center flex-column">

    <h1 class="animated bounce mb-4" id="randomBoat">Random Name Here</h1>
    <button class="button randomizerButtons" style="width: 160px" id="boatRandomizerButton">New</button>
    <a href="/index"><button class="button" style="width: 160px" id="homeButton">Back</button></a>

  </div>
</div>