<div style="height: 100vh">
  <div class="flex-center flex-column">

    <h1 class="animated bounce mb-4" id="randomBoy">Random Boy Here</h1>
    <div class="landingPageButtons">
      <button class="button randomizerButtons" style="width: 350px" id="boyRandomizerButton">New</button>
      <button class="button randomizerButtons" style="width: 350px" id="newBoyButton" data-toggle="modal" data-target="#boyModal">Add a Name</button>

    </div>
    <a href="/baby" class="fas fa-undo-alt back"></a>

    <!-- Modal -->
    <div class="modal fade text-center" id="boyModal" tabindex="-1" role="dialog" aria-labelledby="boyModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="boyModalLabel">Add a new boy name</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- INPUT FOR FORM -->
            <input type="text" id="newBoy" placeholder="New Name">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary create-form-boy">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <div class="letterButtons"></div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {

    // Initial array of letters.
    // This array to dynamically create buttons on the screen
    var letters = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"];



    // Create a for-loop to iterate through the letters array
    for(var i = 0; i < letters.length; i++)
    {

      // Create a variable named "letterBtn" equal to $("<button>")
      var letterBtn = $("<button>");

      // Give each "letterBtn" the following classes: "letter-button" "letter" "letter-button-color"
      letterBtn.addClass("letter-button2 letter letter-button-color");

      // Give each "letterBtn" a data-attribute called "data-letter"
      letterBtn.attr("data-letter", letters[i]);

      // Give each "letterBtns" a text equal to "letters[i]"
      letterBtn.text(letters[i]);

      // Append each "letterBtn" to the "#buttons" div (provided)
      $(".letterButtons").append(letterBtn);
    }

  });

</script>
