<div style="height: 100vh">
  <div class="flex-center flex-column">

    <h1 class="animated bounce mb-4" id="randomDucky">Random Ducky Name</h1>
    <div>
      <button class="button randomizerButtons" style="width: 350px" id="duckyRandomizerButton">New</button>
      <button class="button randomizerButtons" style="width: 350px" id="newDuckyButton" data-toggle="modal"
        data-target="#duckyModal">Add a Name</button>
    </div>
    <a href="/index" class="fas fa-undo-alt back"></a>

    <!-- Modal -->
    <div class="modal fade text-center" id="duckyModal" tabindex="-1" role="dialog" aria-labelledby="duckyModal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="duckyModalLabel">Add a new ducky name</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- INPUT FOR FORM --> 
            <input type="text" id="newDucky" placeholder="New Name">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary create-form">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>