<div id="home">
  <div style="height: 100vh">
    <div class="flex-center flex-column">
      <!-- TITLE -->
      <div class="jumbotron-fluid">
        <a href="/">
          <h1><span id="letterN">N</span>a<span id="letterM">m</span>e-<span id="letterI">I</span><span id="letterT">t</span><span id="letterExclamationMark">!</span></h1> 
          
        </a>
      </div>
      <h3 class="animated bounce">Name my...</h3>

      <!-- BUTTONS -->
      <div>
        <a href="/baby"><button class="button" id="babyButton" value="baby">Baby</button></a>
        <a href="/randomizes/pet"><button class="button" id="petButton" value="pet">Pet</button></a>
      </div>
      <div>
        <a href="/randomizes/ducky"><button class="button" id="duckyButton" value="ducky">Ducky</button></a>
        <a href="/randomizes/boat"><button class="button" id="boatButton" value="boat">Boat</button></a>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue pt-2">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">

      <!-- Section: Team v.1 -->
      <section class="team-section text-center my-5">


        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Creators of Name-It!</h2>

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-3 col-md-6 col-sm-12 mb-lg-0 mb-5 avatar">

            <span class="bounce_Img"><img src="https://avatars0.githubusercontent.com/u/51130585?s=460&v=4" height="250px" width="250px" class="rounded-circle z-depth-1" alt="sidHicks"></span>


            <h5 class="font-weight-bold mb-3 titleBio">Sid Hicks</h5>
            <p class="text-uppercase blue-text"><strong>Back-End Developer</strong></p>
            <p class="white-text">I'm a Full Stack Web Developer living in sunny Orlando, Florida. I spend my free time
              coding, listening to jazz, and spending time with loved ones.</p>
            <ul class="list-unstyled mb-0">
              <!-- LinkedIn -->
              <a class="p-2 fa-lg fb-ic" href="https://www.linkedin.com/in/senien-hicks-55415a1b/" target="_blank">
                <i class="fab fa-linkedin white-text"> </i>
              </a>
              <!-- Github -->
              <a class="p-2 fa-lg ins-ic" href="https://github.com/SidH80" target="_blank">
                <i class="fab fa-github white-text"> </i>
              </a>
              <!-- Email -->
              <a class="p-2 fa-lg ins-ic" href="mailto:senien.hicks@gmail.com?subject=I%20want%20to%20Invest%20in%20%22Name-it!%22&body=Hi%20Sid%2C%0A%0AI%20am%20very%20interested%20investing%20in%20%22Name-it!%22.%20Please%20contact%20me%20at%3A%0A">
                
                <i class="far fa-envelope"> </i>
              </a>
            </ul>


          </div>

          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-3 col-md-6 col-sm-12 mb-lg-0 mb-5 avatar">

            <span class="bounce_Img"><img src="https://avatars3.githubusercontent.com/u/52713263?s=460&v=4" height="250px" width="250px" class="rounded-circle z-depth-1" alt="Mallory_Steffes"></span>

            <h5 class="font-weight-bold mb-3 titleBio">Mallory Steffes</h5>
            <p class="text-uppercase blue-text"><strong>Front-End Developer</strong></p>
            <p class="white-text">I’m a full-stack developer, currently based in Orlando. I de-stress by playing board
              games, weightlifting, and indulging a bad online shopping habit..</p>
            <ul class="list-unstyled mb-0">
              <!-- LinkedIn -->
              <a class="p-2 fa-lg fb-ic" href="https://www.linkedin.com/in/mallorysteffes/" target="_blank">
                <i class="fab fa-linkedin white-text"> </i>
              </a>
              <!-- Github -->
              <a class="p-2 fa-lg ins-ic" href="https://github.com/malloryrsteffes" target="_blank">
                <i class="fab fa-github white-text"> </i>
              </a>
              <!-- Email -->
              <a class="p-2 fa-lg ins-ic" href="mailto:malrsteffes@gmail.com?subject=I%20want%20to%20Invest%20in%20%22Name-it!%22&body=Hi%20Mallory%2C%0A%0AI%20am%20very%20interested%20investing%20in%20%22Name-it!%22.%20Please%20contact%20me%20at%3A%0A">
                <i class="far fa-envelope"> </i>
              </a>
            </ul>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-3 col-md-6 col-sm-12 mb-lg-0 mb-5 avatar">

            <span class="bounce_Img"><img src="https://avatars3.githubusercontent.com/u/53452871?s=460&v=4" height="250px" width="250px" class="rounded-circle z-depth-1" alt="Allison_Juarez"></span>

            <h5 class="font-weight-bold mb-3 titleBio">Allison Juarez</h5>
            <p class="text-uppercase blue-text"><strong>Front-End Developer</strong></p>
            <p class="white-text"> I am currently attending UCF to be become a Full-Stack Web Developer. I am mom of two
              great kids, married to my best friend and gaming buddy. I love showing my creative side in developing
              pages.</p>
            <ul class="list-unstyled mb-0">
              <!-- LinkedIn -->
              <a class="p-2 fa-lg fb-ic" href="https://www.linkedin.com/in/allison-juarez-6712a518b/" target="_blank">
                <i class="fab fa-linkedin white-text"> </i>
              </a>
              <!-- Github -->
              <a class="p-2 fa-lg ins-ic" href="https://github.com/Aj518480" target="_blank">
                <i class="fab fa-github white-text"> </i>
              </a>
              <!-- Email -->
              <a class="p-2 fa-lg ins-ic" href="mailto:allisoncordovez@gmail.com?subject=I%20want%20to%20Invest%20in%20%22Name-it!%22&body=Hi%20Allison%2C%0A%0AI%20am%20very%20interested%20investing%20in%20%22Name-it!%22.%20Please%20contact%20me%20at%3A%0A">
                <i class="far fa-envelope"> </i>
              </a>
            </ul>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-3 col-md-6 col-sm-12 mb-lg-0 mb-5 avatar">
            {{!-- <div class="col-lg-3 col-md-6"> --}}

            <span class="bounce_Img"><img src="https://avatars3.githubusercontent.com/u/46434067?s=460&v=4" height="250px" width="250px" class="rounded-circle z-depth-1" alt="Aaron_Jackson"></span>

            <h5 class="font-weight-bold mb-3 titleBio">Aaron Jackson</h5>
            <p class="text-uppercase blue-text"><strong>Back-End Developer</strong></p>
            <p class="white-text">Hello, I am a Full Stack Web Developer based in Orlando, FL. I enjoy coding,
              traveling, and being a Foodie in my spare time.</p>
            <ul class="list-unstyled mb-0">
              <!-- LinkedIn -->
              <a class="p-2 fa-lg fb-ic" href="https://www.linkedin.com/in/aaron-jackson-481a2052/" target="_blank">
                <i class="fab fa-linkedin white-text"> </i>
              </a>
              <!-- Github -->
              <a class="p-2 fa-lg ins-ic" href="https://github.com/aarontjackson" target="_blank">
                <i class="fab fa-github white-text"> </i>
              </a>
              <!-- Email -->
              <a class="p-2 fa-lg ins-ic" href="mailto:aarontjackson@outlook.com?subject=I%20want%20to%20Invest%20in%20%22Name-it!%22&body=Hi%20Aaron%2C%0A%0AI%20am%20very%20interested%20investing%20in%20%22Name-it!%22.%20Please%20contact%20me%20at%3A%0A">
                
                <i class="far fa-envelope"> </i>
              </a>
            </ul>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!-- Section: Team v.1 -->
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright
  </div>


  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
  <script src="/js/index.js"></script>
