<div id="home">
  <div style="height: 100vh">
    <div class="flex-center flex-column">

      <h1 class="animated slideInUp bounce mb-4">
        Name My...</h1>
      <a href="/baby"><button class="btn btn-primary btn-lg animated slideInUp mb-3" id="babyButton" value="baby">Baby</button></a>
      <a href="/randomizer"><button class="btn btn-danger btn-lg animated slideInUp mb-3" id="petButton" value="pet">Pet</button></a>
      <a href="/randomizer"><button class="btn btn-success btn-lg animated slideInUp mb-3" id="carButton" value="car">Car</button></a>
      <a href="/randomizer"><button class="btn btn-warning btn-lg animated slideInUp mb-3" id="boatButton" value="boat">Boat</button></a>

    </div>
  </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Name It, Bop It!</h5>
        <p>This app was created using Node and an Express web server. It is backed by a mySQL database with a Sequelize ORM, and utilizes MD Bootstrap for front-end design.</p>

      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Collaborators</h5>

        <ul class="list-unstyled">
          <li>
            Aaron Jackson - Back-End Design
          </li>
          <li>
            Allison Juarez - Front-End Design
          </li>
          <li>
            Mallory Steffes - Project Manager
          </li>
          <li>
            Sid Hicks - Back-End Design
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Find Us</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Github</a> / <a href="#!">LinkedIn</a>
          </li>
          <li>
            <a href="#!">Github</a> / <a href="#!">LinkedIn</a>
          </li>
          <li>
            <a href="#!">Github</a> / <a href="#!">LinkedIn</a>
          </li>
          <li>
            <a href="#!">Github</a> / <a href="#!">LinkedIn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright
  </div>

</footer>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script><script src="/js/index.js"></script>
