<div style="height: 100vh">
    <div class="flex-center flex-column">
        <div class="jumbotron-fluid">
            <h2 class="text-center">Share your thougths with the Community</h2>
        </div>

        <div class="row">
            <div class="">
                <h2>Message Board</h2>
                <hr>
                <div id="chat-area"></div>
            </div>
        </div>

        <div class="row">
            <div class="">
                <p class="cool-font">Name</p>
                <input class="form-control" type="text" id="author" placeholder="Enter Your Name">
                <br>
                <p class="cool-font">Message</p>
                <textarea class="form-control" rows="3" id="chat-box" placeholder="Enter Your Comment Here!"></textarea>
                <button id="message-submit" class="btn btn-lg pull-right">Submit!</button>
            </div>
        </div>
        <a href="/index"><button class="button" style="width: 160px" id="homeButton">Back</button></a>
    </div>
</div>