<div style="height: 100vh">
  <div class="flex-center flex-column">

    <h1 class="animated bounce mb-4" id="randomPet">Random Pet Name</h1>
    <div>
    <button class="button randomizerButtons" style="width: 350px" id="petRandomizerButton">New</button>
    <button class="button randomizerButtons" style="width: 350px" id="newPetButton">Add a Name</button>

    </div>
    <a href="/index" class="fas fa-undo-alt back"></a>

  </div>
</div>