body{
  background-color: black;
  font-family: 'Luckiest Guy', cursive;
}

.jumbotron-fluid {
  background-color: black;
}

h1 {
  color:white;
  font-size: 100px;
  text-align: center;
}

h3 {
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}




#letterN{
  color:#face49;
  font-size:150%;
}
#letterM{
  color:#e71d2b;
  font-size: 140%;


}
#letterI{
  color:#00afe4;
  font-size:150%;
}
#letterT{
  color:#2ab243;

}
#letterExclamationMark{
  color:#face49;
  font-size:120%;
}

#randomizedName {
  color: white;
  text-align: center;
}

.button {
  margin-top: 5%;
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family:'Luckiest Guy', cursive;
  font-size: 50px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
#duckyButton {
  -webkit-animation: yellowGlow 1500ms infinite;
  -moz-animation: yellowGlow 1500ms infinite;
  -o-animation: yellowGlow 1500ms infinite;
  animation: yellowGlow 1500ms infinite;
}
#petButton {
  -webkit-animation: greenGlow 1500ms infinite;
  -moz-animation: greenGlow 1500ms infinite;
  -o-animation: greenGlow 1500ms infinite;
  animation: greenGlow 1500ms infinite;
}
#babyButton {
  -webkit-animation: blueGlow 1500ms infinite;
  -moz-animation: blueGlow 1500ms infinite;
  -o-animation: blueGlow 1500ms infinite;
  animation: blueGlow 1500ms infinite;
}
#boatButton {
  -webkit-animation: redGlow 1500ms infinite;
  -moz-animation: redGlow 1500ms infinite;
  -o-animation: redGlow 1500ms infinite;
  animation: redGlow 1500ms infinite;
}

#girlButton {
  -webkit-animation: pinkGlow 1500ms infinite;
  -moz-animation: pinkGlow 1500ms infinite;
  -o-animation: pinkGlow 1500ms infinite;
  animation: pinkGlow 1500ms infinite;
}

#boyButton {
  -webkit-animation: blueGlow 1500ms infinite;
  -moz-animation: blueGlow 1500ms infinite;
  -o-animation: blueGlow 1500ms infinite;
  animation: blueGlow 1500ms infinite;
}

#homeButton {
  -webkit-animation: redGlow 1500ms infinite;
  -moz-animation: redGlow 1500ms infinite;
  -o-animation: redGlow 1500ms infinite;
  animation: redGlow 1500ms infinite;
}

.randomizerButtons {
  -webkit-animation: greenGlow 1500ms infinite;
  -moz-animation: greenGlow 1500ms infinite;
  -o-animation: greenGlow 1500ms infinite;
  animation: greenGlow 1500ms infinite;
}

#startButton {
  -webkit-animation: greenGlow 1500ms infinite;
  -moz-animation: greenGlow 1500ms infinite;
  -o-animation: greenGlow 1500ms infinite;
  animation: greenGlow 1500ms infinite;
}
#girlRandomizerButton {
  -webkit-animation: pinkGlow 1500ms infinite;
  -moz-animation: pinkGlow 1500ms infinite;
  -o-animation: pinkGlow 1500ms infinite;
  animation: pinkGlow 1500ms infinite; 
}
#boyRandomizerButton {
  -webkit-animation: blueGlow 1500ms infinite;
  -moz-animation: blueGlow 1500ms infinite;
  -o-animation: blueGlow 1500ms infinite;
  animation: blueGlow 1500ms infinite; 
}
#duckyRandomizerButton{
  -webkit-animation: yellowGlow 1500ms infinite;
  -moz-animation: yellowGlow 1500ms infinite;
  -o-animation: yellowGlow 1500ms infinite;
  animation: yellowGlow 1500ms infinite;

}
#boatRandomizerButton{
  -webkit-animation: redGlow 1500ms infinite;
  -moz-animation: redGlow 1500ms infinite;
  -o-animation: redGlow 1500ms infinite;
  animation: redGlow 1500ms infinite;
  
}


@-webkit-keyframes glowing {
  25% { background-color: #face49; box-shadow: 0 0 3px #face49; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  75% { background-color: #2ab243; box-shadow: 0 0 40px #2ab243; }
  100% { background-color: #3f6cc1; box-shadow: 0 0 3px #3f6cc1; }
}

@-moz-keyframes glowing {
  25% { background-color: #face49; box-shadow: 0 0 3px #face49; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  75% { background-color: #2ab243; box-shadow: 0 0 40px #2ab243; }
  100% { background-color: #3f6cc1; box-shadow: 0 0 3px #3f6cc1; }
}

@-o-keyframes glowing {
  25% { background-color: #face49; box-shadow: 0 0 3px #face49; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  75% { background-color: #2ab243; box-shadow: 0 0 40px #2ab243; }
  100% { background-color: #3f6cc1; box-shadow: 0 0 3px #3f6cc1; }
}

@keyframes glowing {
  25% { background-color: #face49; box-shadow: 0 0 3px #face49; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  75% { background-color: #2ab243; box-shadow: 0 0 40px #2ab243; }
  100% { background-color: #3f6cc1; box-shadow: 0 0 3px #3f6cc1; }
}
@keyframes yellowGlow {
  0% { background-color: #fee402; box-shadow: 0 0 3px #fee402; }
  50% { background-color: #face49; box-shadow: 0 0 40px #face49 }
  100% { background-color: #fee402; box-shadow: 0 0 40px #fee402; }
}
@keyframes greenGlow {
  0% { background-color: #1be223; box-shadow: 0 0 3px #1be223; }
  50% { background-color: #2ab243; box-shadow: 0 0 40px #2ab243; }
  100% { background-color: #1be223; box-shadow: 0 0 40px #1be223; }
}
@keyframes blueGlow {
  0% { background-color: #00afe4; box-shadow: 0 0 3px #00afe4; }
  50% { background-color: #007bff; box-shadow: 0 0 40px #007bff }
  100% { background-color: #00afe4; box-shadow: 0 0 40px #00afe4; }
}
@keyframes redGlow {
  0% { background-color: #fe0000; box-shadow: 0 0 3px #fe0000; }
  50% { background-color: #8d0c15; box-shadow: 0 0 40px #8d0c15 }
  100% { background-color: #fe0000; box-shadow: 0 0 40px #fe0000; }
}
@keyframes pinkGlow {
  0% { background-color: #f171c8; box-shadow: 0 0 3px #f171c8; }
  50% { background-color: #ee29af; box-shadow: 0 0 40px #ee29af; }
  100% { background-color: #f171c8; box-shadow: 0 0 40px #f171c8; }
}
p.white-text{
  font-family: 'Open Sans', sans-serif;
}

#wrapper{
  text-align:center;
}

.button{
  margin:30px;
  width:320px;
}

/* hoover bounce for images */
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

.avatar{
  position: relative;

}
.titleBio{
  margin-top: 270px;
}
.bounce_Img {
  left: 70px;
  top:0;
  position: absolute;
  border-radius: 50%;
  line-height: 180px;
  text-align: center;
  text-transform: uppercase;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;

}
span:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
.letterButtons{
  
  transition: transform .2s; 
  padding-top: 5%;
  font-size:30px;
  

  
}
.letter-button:hover{
  transform: scale(2.5);
  color:white;
  background-color: #dd37a7;
}

.back{
  color:white;
  font-size:60px;
}
.letter-button2:hover{
  transform: scale(2.5);
  color:white;
  background-color: #00afe4;
}

.back2{
  color:white;
  font-size:60px;
  margin-top:10px;
}