body{
  background-color: black;
  font-family: 'Luckiest Guy', cursive;   
}

.jumbotron-fluid {
  background-color: black;
}

h1 {
  color:white;
  font-size: 100px;
  text-align: center;
}

h3 {
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}




#letterN{
  color:#face49;
  font-size:150%;
}
#letterM{
  color:#e71d2b;
  font-size: 140%;
  
 
}
#letterB{
  color:#00afe4;
  font-size:150%;
}
#letterP{
  color:#2ab243;
  
}
#letterExclamationMark{
  color:#face49;
  font-size:120%;
}

#randomizedName {
  color: white;
  text-align: center;
}

.button {
  margin-top: 5%;
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family:'Luckiest Guy', cursive;
  font-size: 50px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite; 
}
#babyButton {
  -webkit-animation: yellowGlow 1500ms infinite;
  -moz-animation: yellowGlow 1500ms infinite;
  -o-animation: yellowGlow 1500ms infinite;
  animation: yellowGlow 1500ms infinite; 
}
#petButton {
  -webkit-animation: greenGlow 1500ms infinite;
  -moz-animation: greenGlow 1500ms infinite;
  -o-animation: greenGlow 1500ms infinite;
  animation: greenGlow 1500ms infinite; 
}
#carButton {
  -webkit-animation: blueGlow 1500ms infinite;
  -moz-animation: blueGlow 1500ms infinite;
  -o-animation: blueGlow 1500ms infinite;
  animation: blueGlow 1500ms infinite; 
}
#boatButton {
  -webkit-animation: redGlow 1500ms infinite;
  -moz-animation: redGlow 1500ms infinite;
  -o-animation: redGlow 1500ms infinite;
  animation: redGlow 1500ms infinite; 
}

#girlButton {
  -webkit-animation: pinkGlow 1500ms infinite;
  -moz-animation: pinkGlow 1500ms infinite;
  -o-animation: pinkGlow 1500ms infinite;
  animation: pinkGlow 1500ms infinite; 
}

#boyButton {
  -webkit-animation: blueGlow 1500ms infinite;
  -moz-animation: blueGlow 1500ms infinite;
  -o-animation: blueGlow 1500ms infinite;
  animation: blueGlow 1500ms infinite; 
}

#homeButton {
  -webkit-animation: redGlow 1500ms infinite;
  -moz-animation: redGlow 1500ms infinite;
  -o-animation: redGlow 1500ms infinite;
  animation: redGlow 1500ms infinite; 
}

#randomizerButton {
  -webkit-animation: greenGlow 1500ms infinite;
  -moz-animation: greenGlow 1500ms infinite;
  -o-animation: greenGlow 1500ms infinite;
  animation: greenGlow 1500ms infinite;
}

#startButton {
  -webkit-animation: greenGlow 1500ms infinite;
  -moz-animation: greenGlow 1500ms infinite;
  -o-animation: greenGlow 1500ms infinite;
  animation: greenGlow 1500ms infinite;
}


@-webkit-keyframes glowing {
  25% { background-color: #face49; box-shadow: 0 0 3px #face49; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  75% { background-color: #2ab243; box-shadow: 0 0 40px #2ab243; }
  100% { background-color: #3f6cc1; box-shadow: 0 0 3px #3f6cc1; }
}

@-moz-keyframes glowing {
  25% { background-color: #face49; box-shadow: 0 0 3px #face49; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  75% { background-color: #2ab243; box-shadow: 0 0 40px #2ab243; }
  100% { background-color: #3f6cc1; box-shadow: 0 0 3px #3f6cc1; }
}

@-o-keyframes glowing {
  25% { background-color: #face49; box-shadow: 0 0 3px #face49; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  75% { background-color: #2ab243; box-shadow: 0 0 40px #2ab243; }
  100% { background-color: #3f6cc1; box-shadow: 0 0 3px #3f6cc1; }
}

@keyframes glowing {
  25% { background-color: #face49; box-shadow: 0 0 3px #face49; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  75% { background-color: #2ab243; box-shadow: 0 0 40px #2ab243; }
  100% { background-color: #3f6cc1; box-shadow: 0 0 3px #3f6cc1; }
}
@keyframes yellowGlow {
  0% { background-color: #fee402; box-shadow: 0 0 3px #fee402; }
  50% { background-color: #face49; box-shadow: 0 0 40px #face49 }
  100% { background-color: #fee402; box-shadow: 0 0 40px #fee402; }
}
@keyframes greenGlow {
  0% { background-color: #2ab243; box-shadow: 0 0 3px #2ab243; }
  50% { background-color: #248f38; box-shadow: 0 0 40px #248f38 }
  100% { background-color: #2ab243; box-shadow: 0 0 40px #2ab243; } 
}
@keyframes blueGlow {
  0% { background-color: #00afe4; box-shadow: 0 0 3px #00afe4; }
  50% { background-color: #007bff; box-shadow: 0 0 40px #007bff }
  100% { background-color: #00afe4; box-shadow: 0 0 40px #00afe4; } 
}
@keyframes redGlow {
  0% { background-color: #fe0000; box-shadow: 0 0 3px #fe0000; }
  50% { background-color: #8d0c15; box-shadow: 0 0 40px #8d0c15 }
  100% { background-color: #fe0000; box-shadow: 0 0 40px #fe0000; } 
}
@keyframes pinkGlow {
  0% { background-color: #f171c8; box-shadow: 0 0 3px #f171c8; }
  50% { background-color: #ee29af; box-shadow: 0 0 40px #ee29af; }
  100% { background-color: #f171c8; box-shadow: 0 0 40px #f171c8; } 
}


#wrapper{
  text-align:center;
}

.button{
  margin:30px;
  width:320px;
}





